// Compare Plans // 

.compare-plans {
    @include button;
}

#try-for-free,
#choose-your-plan {
    @include button;
    width: 75%;
    background: $main;
    color: white;
    margin: 10% auto;

}