// Layout // 

.db-for-teams {
   @include box;
   margin: 0 auto;
}

// Headings // 

h1 {
   margin: 30vh 6vh 1em 6vh; 
   font-size: 2.2em;
}

h3 {
    font-size: 1.75em;
    margin: 1em;
}

// P // 

#intro-text {
    margin: 0vh 6vh 1em 6vh; 
    line-height: 1.5em;
}

#db-for-teams-p {
    margin: 0 0 0 1.75em;
    color: $box-font;
}

